*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    min-width: 320px;
}

.my-box-shadow{
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}